* {
	margin: 0;
	box-sizing: border-box;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.calculator {	
	margin-top: 5%;
	width: 320px;
	height: 600px;
	background-color:#1B1E22;
}

.calculator #display {
	width: 100%;
	height: 30%;
	border-bottom: 10px solid #589FC7;
	background-color:#1B1E22;
	color: #ffffff;
	font-size: 48px;
}

.calculator .buttons {
	display: flex;
	padding: 20px;
	height: 70%;
}

.calculator .buttons .buttons-numbers {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 75%;
	align-items: center;
}

button {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: none;
	color: #ffffff;
	font-size: 24px;
}

.calculator .buttons .buttons-numbers button {
	background-color: #424448;
}

.calculator .buttons .buttons-numbers button:hover {
	background-color: #96989c;
}

.calculator .buttons .buttons-numbers button:active {
	border: 2px solid #424448;
}

.calculator .buttons .buttons-numbers #zero {
	width: 66%;
	border-radius: 50px;
}

.calculator .buttons .buttons-numbers #clear {
	width: 100%;
	border-radius: 50px;
	background-color: #64676c;
}

.calculator .buttons .buttons-numbers #clear:hover {
	background-color: #434549;
}

.calculator .buttons .buttons-numbers #clear:active {
	border: 2px solid #2c2d30;
}

.calculator .buttons .buttons-operators {
	display: flex;
	flex-wrap: wrap;
	width: 25%;
	justify-content: center;
	align-items: center;
}

.calculator .buttons .buttons-operators button {
	background-color: #3581AC;
}

.calculator .buttons .buttons-operators button:hover {
	background-color: #81a7bd;
}

.calculator .buttons .buttons-operators button:active {
	border: 2px solid #3581AC;
}
